.load-app-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 767px) {
  .load-app-section {
    flex-direction: column;
    gap: 40px;
  }
}

.load-app-section .imge {
  width: 37%;
}
@media (max-width: 767px) {
  .load-app-section .imge {
    width: 90%;
    display: flex;
    justify-content: center;
  }
}
.load-app-section .imge img {
  width: 100%;
}

.load-app-section .details {
  width: 50%;
  color: var(--black-color);
  display: flex;
  flex-direction: column;
  gap: 80px;
}
@media (max-width: 767px) {
  .load-app-section .details {
    width: 100%;
    padding-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .load-app-section .details {
    gap: 60px;
  }
}

@media (max-width: 767px) {
  .load-app-section .details {
    gap: 50px;
  }
}

.load-app-section .details h1 {
  position: relative;
  width: 100%;
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .load-app-section .details h1 {
    margin-bottom: 0;
  }
}

.load-app-section .details h1::after {
  content: "";
  position: absolute;
  bottom: -90px;
  left: 0;
  width: 20%;
  height: 20px;
  background-color: var(--red-color);
  
}
@media (max-width: 992px) {
  .load-app-section .details h1::after {
    height: 13px;
    bottom: -35px;
  }
}

.load-app-section .details p {
  width: 80%;
  line-height: 1.5;
}


